.current {
  border-bottom: #770F00 solid 3px;
}

.logo {
  width: 100%;
}

nav {
  background: #F2F2F2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
  width: 60%;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: -0.333333px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.header, .header-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 85vh;
}

.header {
  background: url(../img/Banner.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0em;
  margin: 0em;
}

.header-shadow {
  background-color: rgba(119, 15, 0, 0.4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 5% 0%;
}

.header-shadow h1 {
  text-align: center;
  font-weight: bolder;
  color: white;
}

@media screen and (max-width: 9000px) {
  .header-shadow h1 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 900px) {
  .header-shadow h1 {
    font-size: 10vw;
  }
}

.header-shadow .btn {
  margin-top: 3%;
  text-align: center;
  font-weight: bolder;
  color: white;
  background: #770F00;
  border: 0.7vh solid #F2F2F2;
  border-radius: 7vh;
}

@media screen and (max-width: 9000px) {
  .header-shadow .btn {
    font-size: 3vw;
  }
}

@media screen and (max-width: 900px) {
  .header-shadow .btn {
    font-size: 7vw;
  }
}

main {
  position: relative;
}

@media screen and (max-width: 9000px) {
  main .container-fluid {
    padding: 0px 10%;
  }
}

@media screen and (max-width: 900px) {
  main .container-fluid {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
}

.quote-container {
  height: 85vh;
  font-family: 'Times New Roman', Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 9000px) {
  .quote-container .quote {
    font-size: 7vw;
  }
}

@media screen and (max-width: 900px) {
  .quote-container .quote {
    font-size: 80px;
  }
}

.quote-container .quote-content {
  width: 100%;
  margin-top: -50px;
  text-align: center;
  letter-spacing: 1.3px;
}

@media screen and (max-width: 9000px) {
  .quote-container .quote-content {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 900px) {
  .quote-container .quote-content {
    font-size: 5vw;
  }
}

@media screen and (max-width: 400px) {
  .quote-container .quote-content {
    font-size: 8vw;
  }
}

.quote-container .leftquote {
  text-align: right;
}

.especialidades {
  background-color: #770f00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 9000px) {
  .especialidades {
    height: 85vh;
  }
}

@media screen and (max-width: 900px) {
  .especialidades {
    height: auto;
  }
}

.especialidades .grid {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 20vh;
  grid-gap: 5vh 8vw;
}

@media screen and (max-width: 9000px) {
  .especialidades .grid {
    -ms-grid-columns: (minmax(15vw, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 900px) {
  .especialidades .grid {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 90%;
    margin: 5% 0px;
  }
}

.esp1 {
  position: relative;
  display: inline-block;
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp2 {
  position: relative;
  display: inline-block;
  background: url(../img/2.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp3 {
  position: relative;
  display: inline-block;
  background: url(../img/3.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp4 {
  position: relative;
  display: inline-block;
  background: url(../img/4.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp5 {
  position: relative;
  display: inline-block;
  background: url(../img/5.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp6 {
  position: relative;
  display: inline-block;
  background: url(../img/6.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp7 {
  position: relative;
  display: inline-block;
  background: url(../img/7.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp8 {
  position: relative;
  display: inline-block;
  background: url(../img/8.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp1::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp2::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp3::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp4::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp5::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp6::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp7::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.esp8::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width: 9000px) {
  .esp1:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp1:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp2:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp2:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp3:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp3:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp4:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp4:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp5:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp5:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp6:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp6:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp7:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp7:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

@media screen and (max-width: 9000px) {
  .esp8:hover {
    -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
  }
}

@media screen and (max-width: 900px) {
  .esp8:hover {
    -webkit-transform: scale(1.08, 1.15);
            transform: scale(1.08, 1.15);
  }
}

.esp1:hover::after {
  opacity: 1;
}

.esp2:hover::after {
  opacity: 1;
}

.esp3:hover::after {
  opacity: 1;
}

.esp4:hover::after {
  opacity: 1;
}

.esp5:hover::after {
  opacity: 1;
}

.esp6:hover::after {
  opacity: 1;
}

.esp7:hover::after {
  opacity: 1;
}

.esp8:hover::after {
  opacity: 1;
}

.item {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
}

.nosotros {
  margin: 1rem 0rem;
  padding: 0px;
  height: calc(5rem + 85vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.nosotros h2 {
  color: #6B6B6B;
  font-size: calc(2rem + 1vw);
}

.nosotros h3 {
  color: black;
  font-weight: bold;
  font-size: calc(2.5rem + 1vw);
}

.nosotros .content {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 0px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
  -ms-grid-rows: 15% auto 15%;
      grid-template-rows: 15% auto 15%;
}

.nosotros .content .square {
  height: 100%;
  width: 100%;
}

.nosotros .content p {
  font-size: calc(1rem + 1.5vw);
  letter-spacing: 3px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.nosotros .content p em {
  display: inline-block;
  font-style: normal;
}

.nosotros .content .corner1 {
  border-top: #6B6B6B solid;
  border-left: #6B6B6B solid;
}

.nosotros .content .corner2 {
  border-top: #6B6B6B solid;
  border-right: #6B6B6B solid;
}

.nosotros .content .corner3 {
  border-left: #6B6B6B solid;
  border-bottom: #6B6B6B solid;
}

.nosotros .content .corner4 {
  border-right: #6B6B6B solid;
  border-bottom: #6B6B6B solid;
}

@media screen and (max-width: 9000px) {
  .nosotros p {
    line-height: 7vh;
  }
}

@media screen and (max-width: 400px) {
  .nosotros p {
    line-height: 4vh;
  }
}

.contacto, .contacto-shadow {
  min-height: 85vh;
}

.contacto {
  background: url(../img/edificio.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0em;
  margin: 0em;
}

.contacto-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  padding: 0%;
  margin: 0em;
  color: white;
}

@media screen and (max-width: 9000px) {
  .contacto-shadow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .contacto-shadow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacto-shadow div {
  height: 80vh;
}

@media screen and (max-width: 9000px) {
  .contacto-shadow div {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .contacto-shadow div {
    width: 100%;
  }
}

.contacto-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 30% 30%;
      grid-template-rows: 30% 30% 30%;
  grid-auto-columns: 100%;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-info h2 {
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1,2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1,2;
}

@media screen and (max-width: 9000px) {
  .contacto-info h2 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 900px) {
  .contacto-info h2 {
    font-size: 3em;
  }
}

.contacto-info .redes {
  height: 100%;
  width: 90%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1,2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2,3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 100%;
  row-gap: 0px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-info .redes a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contacto-info .redes a {
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-info .redes a img {
  height: 5em;
  width: 5em;
}

.contacto-info .redes-show {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1,2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3,4;
}

.contacto-info .redes-show .hide {
  display: none;
}

.contacto-info .redes-show .show {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em 0em;
  background-color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-info .redes-show .show a {
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.contacto-info .redes-show .show a:hover {
  text-decoration: underline;
}

.contacto-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto-form form {
  background-color: #3E3E3E;
  border-radius: 8vh;
  width: 90%;
  height: 75vh;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto-form form p {
  font-size: 3vh;
  margin: 1vh;
}

.contacto-form form input {
  background: rgba(196, 196, 196, 0.05);
  border: 0.2vh solid #BC0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2vh;
  margin: 1vh;
  height: 5vh;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.contacto-form form input:focus {
  border: 0.6vh solid #BC0000;
  outline: none;
}

.contacto-form form textarea {
  height: 20vh;
  background: rgba(196, 196, 196, 0.05);
  border: 0.2vh solid #BC0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2vh;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.contacto-form form textarea:focus {
  border: 0.6vh solid #BC0000;
  outline: none;
}

.contacto-form form button {
  margin-top: 4vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  letter-spacing: 0.3vh;
  border: none;
  font-size: 3.2vh;
  font-weight: bold;
  background: #BC0000;
  border-radius: 10vh;
  width: 20vh;
  height: 8vh;
}

.footer {
  background-color: black;
  color: white;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer p {
  width: auto;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

.marcador {
  background-color: #a3a3a3;
  opacity: 0;
}

@media screen and (max-width: 9000px) {
  .marcador {
    min-height: 15vh;
  }
}

@media screen and (max-width: 900px) {
  .marcador {
    min-height: 6em;
  }
}

@media screen and (max-width: 400px) {
  .marcador {
    min-height: 7vh;
  }
}
/*# sourceMappingURL=style.css.map */