$breakpoints: (
  3600px: 20%,
  1900px: 33%,
  1024px: 40%,
  900px: 50%,
  480px: 100%,
);

@media (max-width: 480px){

}

.grid{
    width: auto;
    padding: 0px;

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    padding: 0px;
    margin: 0rem;
    overflow: hidden;
    float: left;
    min-height: 20em;    
    background: #e6e5e4;
    border: 2px solid #b6b5b4;
    @each $width, $widthCard in $breakpoints {
        @media screen and (max-width: $width) {
          &{
            width: $widthCard;
          }
        }
      }
}

.card img {
    width: auto;
    height: 15em;
    object-fit: cover
}

.card-body{
    background: white;
    width: auto;
}

.card-footer{
    background: pink;
    width: auto;
    font-weight: bolder;    
}