.header .header-shadow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20rem;
    position: relative;
}
.header{
    background: url("../img/tienda.jpg") no-repeat center center;
    background-size: cover;
    padding: 0em;
    margin: 0em;
}
.header-shadow{
    background-color: rgba(0, 0, 0, 0.4);
}
.header-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Pacifico', cursive;;
    font-weight: bolder;
    color: pink;
}

.header-info h2{
    text-align: center;
}