$cantidadEsp: 8;

main{
  position: relative;
.container-fluid{
    @media screen and (max-width: 9000px) {
        &{
            padding: 0px 10%;
        }
      }
    @media screen and (max-width: 900px) {
        &{
            align-items: center;
            padding: 0px;
        }
      }
}
}

// Quote

.quote-container{
    height: 85vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .quote{
        @media screen and (max-width: 9000px) {
            &{
              font-size: 7vw;
            }
          }
        @media screen and (max-width: 900px) {
          &{
            font-size: 80px;
          }
        }
    }
    .quote-content{
        @media screen and (max-width: 9000px) {
            &{
              font-size: 2.5vw;
            }
          }
        @media screen and (max-width: 900px) {
          &{
            font-size: 5vw;
          }
        }
          @media screen and (max-width: 400px) {
            &{
              font-size: 8vw;
            }
        }
       
        width: 100%;
        margin-top: -50px;
        text-align: center;
        letter-spacing: 1.3px;
    }
    .leftquote{
        text-align: right;
    }
}

// Especialidades

.especialidades{
    background-color: rgb(119, 15, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 9000px) {
      &{
        height: 85vh;
      }
    }
  @media screen and (max-width: 900px) {
    &{
      height: auto;
      
    }
  }
    .grid{
    display: grid;
    @media screen and (max-width: 9000px) {
      &{
        grid-template-columns:repeat(auto-fit,minmax(15vw,1fr));
        width: 100%;
        margin: 0px;
      }
    }
    @media screen and (max-width: 900px) {
    &{
      grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
      width: 90%;
      margin: 5% 0px;
    }
    }
    grid-auto-rows: 20vh ;
    grid-gap: 5vh 8vw;
  }
  }



@for $i from 1 through $cantidadEsp {
  .esp#{$i} {
    position: relative;
    display: inline-block;
    background: url(../img/#{$i}.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@for $i from 1 through $cantidadEsp {
  .esp#{$i}::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);  }
}

@for $i from 1 through $cantidadEsp {
  .esp#{$i}:hover {
    @media screen and (max-width: 9000px) {
      &{
        transform: scale(1.25, 1.25);
    }
    }
    @media screen and (max-width: 900px) {
      &{
        transform: scale(1.08, 1.15);
      }
    }
    }
}

@for $i from 1 through $cantidadEsp {
  .esp#{$i}:hover::after {
    opacity: 1;
    }
}

.item{
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
}

// Nosotros

.nosotros{
  margin: 1rem 0rem;
  padding: 0px;
  height: calc(5rem + 85vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  h2{
    color: #6B6B6B;
    font-size: calc(2rem + 1vw);
  }
  h3{
    color: black;
    font-weight: bold;
    font-size: calc(2.5rem + 1vw);
  }
  .content{
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 0px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 15% auto 15%;
    .square{
      height: 100%;
      width: 100%;
  
    }
    p{
      font-size: calc(1rem + 1.5vw);
      letter-spacing: 3px;
      grid-column: 1 / 4;
      grid-row: 2/3;
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      
      em{
        display: inline-block;
        font-style: normal;
      }
    }
    .corner1{
      border-top: #6B6B6B solid;
      border-left: #6B6B6B solid;
    }
    .corner2{
      border-top: #6B6B6B solid;
      border-right: #6B6B6B solid;      
    }
    .corner3{
      border-left: #6B6B6B solid;
      border-bottom: #6B6B6B solid;
    }
    .corner4{
      border-right: #6B6B6B solid;
      border-bottom: #6B6B6B solid;
    }
  }
  @media screen and (max-width: 9000px) {
    &{
      p{
         line-height: 7vh;

      }
    }
  }
  @media screen and (max-width: 400px) {
  &{
    p{
        line-height: 4vh;
    }
  }
  }
}

// Contacto
.contacto , .contacto-shadow{
  min-height: 85vh;
}
.contacto{
  background: url(../img/edificio.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0em;
  margin: 0em;
}
.contacto-shadow{
  display: flex;
  @media screen and (max-width: 9000px) {
    &{
      flex-direction: row;
    }
  }
  @media screen and (max-width: 900px) {
  &{
    flex-direction: column;
  }
  }
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  padding: 0%;
  margin: 0em;
  color: white;

  div{
    @media screen and (max-width: 9000px) {
      &{
        width: 50%;
      }
    }
    @media screen and (max-width: 900px) {
      &{
        width: 100%;
      }
    }

    height: 80vh;
  }
}
.contacto-info{
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-auto-columns: 100%;
  row-gap: 0px;
  column-gap: 0px;
  justify-items: center;
  align-items: center;

  h2{
    font-weight: bold;
    @media screen and (max-width: 9000px) {
      &{
        font-size: 4vw;
      }
    }
    @media screen and (max-width: 900px) {
      &{
        font-size: 3em;
      }
    }
    grid-column: 1,2;
    grid-row: 1,2;
  }
  .redes{
    height: 100%;
    width: 90%;
    grid-column: 1,2;
    grid-row: 2,3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 100%;
    row-gap: 0px;
    column-gap: 0px;
    justify-items: center;
    align-items: center;
    
    a:hover{
      background-color: rgba(255, 255, 255, 0.5);
    }
    a{
      cursor: pointer;
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 5em;
        width: 5em;  
      }
    }
  }
  .redes-show{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1,2;
    grid-row: 3,4;
    .hide{
      display: none;
    }
    .show{
      width: 100%;
      height: fit-content;
      padding: 1em 0em;
      background-color: rgba(62, 62, 62, 1);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      a{
        color: white;
        text-decoration: none;
        font-size: 100%;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
.contacto-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    background-color: #3E3E3E;
    border-radius: 8vh;
    width: 90%;
    height: 75vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    p{
      font-size: 3vh;
      margin: 1vh;
    }
    input{
      background: rgba(196, 196, 196, 0.05);
      border: 0.2vh solid #BC0000;
      box-sizing: border-box;
      border-radius: 2vh;
      margin: 1vh;
      height: 5vh;
      color:white;
      font-family: 'Roboto', sans-serif;
    }
    input:focus{
      border: 0.6vh solid #BC0000;
      outline: none;
    }
    textarea{
      height: 20vh;
      background: rgba(196, 196, 196, 0.05);
      border: 0.2vh solid #BC0000;
      box-sizing: border-box;
      border-radius: 2vh;
      color:white;
      font-family: 'Roboto', sans-serif;
    }
    textarea:focus{
      border: 0.6vh solid #BC0000;
      outline: none;
    }
    button{
      margin-top: 4vh;
      align-self: center;
      color: white;
      letter-spacing: 0.3vh;
      border: none;
      font-size: 3.2vh;
      font-weight: bold;
      background: #BC0000;
      border-radius: 10vh;
      width: 20vh;
      height: 8vh;
    }
  }
}